<h2>Frontend Integration Demo</h2>

<h3>Movies</h3>
<button (click)="testBackend()">Test Backend Connection</button>
<button (click)="listMovies()">Search Movies</button>
<button (click)="browseGenre()">Browse Movies by Genre</button>
<button (click)="browseFirstLetter()">Browse Movies by First Letter</button>
<button (click)="viewMovieById()">View Movie Details</button>


<h3>Stars</h3>
<button (click)="viewStar()">View Star Details</button>

<h3>Auth</h3>
<button (click)="signIn()">Sign In</button>
<button (click)="whoAmI()">Check Current User</button>
<button (click)="signOut()">Sign Out</button>

<h3>Cart</h3>
<button (click)="openCart()">Open Cart</button>
<button (click)="addCartItem()">Add Item to Cart</button>
<button (click)="updateCartQuantity()">Update Cart Item Quantity</button>
<button (click)="removeCartItem()">Remove Item From Cart</button>
<button (click)="clearShoppingCart()">Clear Cart</button>
<button (click)="checkoutCart()">Checkout</button>